@using Microsoft.Extensions.Options
@model GetUserCardViewModel
@inject IOptions<StripeSettings> Stripe
@if (Model != null)
{

    <div class="row">
        <div style="margin-left: 22%" class="col-md-4 menuItem">
            <ul class="menu">
                <li>
                    <p style="width: 600px; height: 200px; font-size: 40px"> 1 Month subscription<span class="price">$60.00</span></p>

                    <div style="position: absolute; top: 240px">
                        <p>From:</p>
                        <p>@Model.FromDate</p>
                    </div>
                    
                    <div>
                        <p style="margin-left: 80%">To: </p>
                        <p style="margin-left: 80%">@Model.DueDate</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
}
else
{
    <div style="margin: 200px 395px">
        <a style="font-size: 50px;" asp-controller="Cards" asp-action="Create"> Become a member</a>
    </div>
}
@if (Model != null && Model.DueDate == DateTime.Now.ToShortDateString())
{

    <p style="font-size: 50px; color: red; margin-left: 22%">This is the last day of ur card!!!</p>
    <p style="font-size: 30px; color: black; margin-top: 20px; margin-left: 36%">You can extend it here</p>
    <form style="margin-left: 43%" asp-controller="Cards" asp-action="Extend" method="post">
        <script class="stripe-button" src="//checkout.stripe.com/v2/checkout.js"
                data-key="@Stripe.Value.PublishableKey"
                data-descripiton="Test Description"
                data-amount="6000"></script>
    </form>
}