@model GetUserCardViewModel
@if (Model != null)
{

    <div class="row">
        <div style="margin-left: 22%" class="col-md-4 menuItem">
            <ul class="menu">
                <li>
                    <p style="width: 600px; height: 200px; font-size: 40px"> 1 Month subscription<span class="price">$60.00</span></p>

                    <div style="position: absolute; top: 240px">
                        <p>From:</p>
                        <p>@Model.FromDate</p>
                    </div>
                    <p style="margin-left: 80%">To: @Model.DueDate</p>
                </li>
            </ul>
        </div>

    </div>
}
else
{
    <a asp-controller="Cards" asp-action="Create"> Become a member</a>
}
@if (Model != null && Model.DueDate == DateTime.Now.ToShortDateString())
{

    <p style="font-size: 50px; color: red; margin-left: 22%">This is the last day of ur card!!!</p>
}