<style>
    .tabs .tab a:hover, .tabs .tab a.active {
        background-color: #ec4141;
        color: #ffffff;
    }
</style>
    <h1 style="margin-left: 43%">Manage your account</h1>

    <div style="margin-left: 20%" class="row">
<div class="col-md-10"> 
   	
    <div class="tab-section">
        <div class="s12">
            <ul class="tabs">
                <li class="tab col s4"><a href="#test1" class="waves-effect waves-dark">Profile</a></li>
                <li class="tab col s4"><a class="waves-effect waves-dark active" href="#test2">Card</a></li>
                <li class="tab col s4"><a href="#test3" class="waves-effect waves-dark">Classes</a></li> 
            </ul>
        </div>
        <div id="test1" class="col s12 container">
            <form name="sentMessage" id="contactForm"  novalidate> 
                <div class="input-field"> 
                    <input type="text" name="name" class="form-control" 
                           id="name" required
                           data-validation-required-message="Please enter your name" />
                    <label for="name" class="">   Username </label> 
                    <p class="help-block"></p>
		   
                </div> 	
                <div class="input-field"> 
                    <input name="Age" id="Age" type="number" class="form-control" />
                    <label for="Age" class="">   Age </label> 
                </div> 	
                <div class="input-field"> 
                    <input type="number" name="Weight" id="Weight" class="form-control" />
                    <label for="Weight" class="">   Weight </label> 
                </div> 	
             		 
                <div class="input-field"> 
                    <input type="number" id="Height" class="form-control" />
                    <label for="Height" class="">   Height </label> 
                </div> 	

                <button type="submit" class="btn btn-primary waves-effect waves-dark pull-right">Send</button><br />
            </form>
        </div>
        <div id="test2" class="col s12 container">
            CARD
        </div>
        <div id="test3" class="col s12 container">
            Classes
        </div> 
    </div>
</div>
</div>