@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 style="text-align: center">Add Exercise to Workout.Name</h1>

<div style="margin-bottom: 600px">
    <form style="position: absolute; top: 25%; left: 30%" method="post">
        <div class="form-group; ">
            <label style="font-size: 3.8rem">Name of the Exercise</label>
            <input name="exerciseName" type="text" class="form-control" style="width: 800px" placeholder="Name">
            <label style="font-size: 3.8rem">sets of the Exercise</label>
            <input name="exerciseSets" type="text" class="form-control" style="width: 800px" placeholder="Sets">
            <label style="font-size: 3.8rem">repetitions of the Exercise</label>
            <input name="exerciseReps" type="text" class="form-control" style="width: 800px" placeholder="Reps">
            <label style="font-size: 3.8rem">distance of the Exercise</label>
            <input name="exerciseDistance" type="text" class="form-control" style="width: 800px" placeholder="Distance">
            <label style="font-size: 3.8rem">time of the Exercise</label>
            <input name="exerciseTime" type="text" class="form-control" style="width: 800px" placeholder="Time">
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>