@using Fitnezz.Web.Common
<link href="https://ilt-insightdlp-static.s3.amazonaws.com/css/default.css" rel="stylesheet">
<!-- Slider -->
<style>
    section {
        background-color: #1c1c1c;
    }
</style>
<section>
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="/template/img/slides/2.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Perfection</h3>
                    <p>Take care of your body</p>
                </div>
            </li>
            <li>
                <img src="/template/img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Progress</h3>
                    <p>Enjoy the glow of good health</p>
                </div>
            </li>

        </ul>
    </div>
    <!-- end slider -->
    @if (!this.User.IsInRole(GlobalConstants.TrainerRoleName) && !this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {

    <div class="container row-xGrid-yMiddle">
        <div >
            <form method="get" asp-controller="Cards" asp-action="Create">
                <button type="submit"  style="height: 100px" class="ctrl-standard typ-subhed fx-bubbleDown">Become a member</button>
            </form>
        </div>
    </div>
    }
</section>
<section class="dishes">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aligncenter"><h2 class="aligncenter">Best offer Shape</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, <br />doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
                <br />
            </div>
        </div>

        <vc:take-random-classes title="Test"></vc:take-random-classes>
    </div>
</section>
<section id="content">
    <div class="container">

        <section class="services">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter"><h2 class="aligncenter">What Our Services</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, <br />doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks material-icons">track_changes</i>
                    <div class="info-blocks-in">
                        <h3>Aerobics</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks material-icons">settings_input_svideo</i>
                    <div class="info-blocks-in">
                        <h3>Cardio</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks material-icons">queue_music</i>
                    <div class="info-blocks-in">
                        <h3>Consulting</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks material-icons">my_location</i>
                    <div class="info-blocks-in">
                        <h3>GYM</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks material-icons">shuffle</i>
                    <div class="info-blocks-in">
                        <h3>SPA Energy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks material-icons">tab_unselected</i>
                    <div class="info-blocks-in">
                        <h3>Events</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

