@using Fitnezz.Web.Common
<link href="https://ilt-insightdlp-static.s3.amazonaws.com/css/default.css" rel="stylesheet">
<!-- Slider -->
<style>
    section {
        background-color: #1c1c1c;
    }
    #map {
        height: 600px;
        width: 1200px;
    }

 
</style>
<link href="~/css/homeMobile.css" rel="stylesheet" />
<section>
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="/template/img/slides/2.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Perfection</h3>
                    <p>Take care of your body</p>
                </div>
            </li>
            <li>
                <img src="/template/img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Progress</h3>
                    <p>Enjoy the glow of good health</p>
                </div>
            </li>

        </ul>
    </div>
    <!-- end slider -->
    @if (!this.User.IsInRole(GlobalConstants.TrainerRoleName) && !this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {

    <div class="container row-xGrid-yMiddle">
        <div >
            <form method="get" asp-controller="Cards" asp-action="Create">
                <button type="submit"  style="height: 100px" class="ctrl-standard typ-subhed fx-bubbleDown">Become a member</button>
            </form>
        </div>
    </div>
    }
</section>
<section class="dishes">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aligncenter"><h2 class="aligncenter">Best offer Shape</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, <br />doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
                <br />
            </div>
        </div>
        <cache expires-after="TimeSpan.FromDays(1)">
            <vc:take-random-classes title="Test"></vc:take-random-classes>
        </cache>
    </div>
</section>
<section id="content">
    <div class="container">

        <div id="map"></div>

    </div>
</section>

<script>
    let map;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 43.203363, lng: 23.549116 },
            zoom: 20,
        });
    }
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEtIdSsRUDWAdxgLujh3nB0zjR5m3ADtY&callback=initMap&libraries=&v=weekly"
    defer
></script>