<section class="section-404" style="padding-top: 40%; background-image: linear-gradient(to top , rgba(0,0,0, 0.5) 0%, rgba(0,0,0,0.5) 100%) , url(/template/img/Errorjpg.jpg);">
    <div style="position: absolute; left: 37%;bottom: 40%" >
        <h1  style="color: red; font-size: 90px;">404 error</h1>
        <h4 style="color: white">SORRY, BUT THE PAGE YOU ARE LOOKING IS NOT FOUND.</h4>
    </div>
</section>