<section class="section-404" style="padding-top: 40%; background-image: linear-gradient(to top , rgba(0,0,0, 0.5) 0%, rgba(0,0,0,0.5) 100%) , url(/template/img/Errorjpg.jpg);">
    <div style="" >
        <h1  style="color: red;position: absolute; left: 37%; bottom: 45%;font-size: 90px;">404 error</h1>
        <h4 style="color: white;position: absolute; left: 35%;bottom: 42%">SORRY, BUT THE PAGE YOU ARE LOOKING FOR IS NOT FOUND.</h4>
        <h4 style="color: white;position: absolute; left: 40%;bottom: 37%">You can check our <a href="/Workouts/All">Workouts</a> or our <a href="/MealPlans/All">Meal plans</a>.</h4>
    </div>
</section>