@media screen and (max-width: 360px) {
    .details {
        position: absolute;
        right: 2%;
    }

   #dets{
       width: 70px;
       font-size: 12px;
   }
    #search {
        position: absolute;
        right: 37%;
        width: 100px;
        top: 124px;

    }
}