@media screen and (max-width: 560px) {
    .details {
        position: absolute;
        right: 2%;
    }

   #dets{
       width: 50px;
       font-size: 8px;
   }
    #search {
        position: absolute;
        right: 37%;
        width: 100px;
        top: 124px;

    }
    #username {
        width: 30px;
    }
    #addToUser {
        width: 40px;
        height: 33px;
        font-size: 6px;
        white-space: normal;
    }
    #del {
        position: absolute;
        right: 17%;
        width: 50px;
        font-size: 8px;
        text-align: center;
    }

    #workoutBtn {
        border-style: none;
        padding: 5px 10px;
        background: #ec4141;
        font-size: 15px;
        color: white;
        text-decoration: none;
    }

    .divBtn {
        position: absolute;
        top: 20px;
        left: 60%;
    }

    #workoutName {
        width: 100px
    }

    #isPublic {
        display: block;
        margin-bottom: 10px;
        width: 100px;
        
    }

    #btnSave {
        width: 50px;
        font-size: 9px;
        padding: 0px;
        height: 20px;
    }

    #createWorkout {
        display: none;
        position: absolute;
        left: 65%;
        top: 18%
    }

    #canceltBtn {
        width: 50px;
        font-size: 9px;
        padding: 0px;
        height: 20px;
    }
}