@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <h1 style="position: absolute; left: 40%" class="col-md-3">Our Meal <span class="color">Plans</span></h1>

<div style="margin-top: 100px;" class="row service-v1 margin-bottom-40">
    
    @for (int i = 0; i < 4; i++)
    {
        <div class="col-md-3 md-margin-bottom-40">
            <div class="card small">
                <div class="card-image">
                    <img class="img-responsive" src="/template/img/service1.jpg" alt="">
                    <a href="/MealPlans/Details?id=@i" class="card-title">MealPLan.Name</a>
                </div>
                <div class="card-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                    </p>
                </div>
            </div>
        <form method="post">
            <input style="display: none" name="mealPlanId" value="@i"/>
            <input type="text" name="username" placeholder="Username" style="width: 100px"/>
            <button asp-area="" asp-controller="MealPlans" asp-action="AddMealPlanToUser" type="submit" class="btn btn-sm"> Add to User</button>
        </form>
        </div>
    }
    
    </div>