@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div style="position: absolute; left: 40%">
        <h1 class="col-md-12">Our <span class="color">Classes</span></h1>
    </div>
<section style="margin-top:100px" id="mainservice" >
    <div class="container">
        <div class="row">
            @for (int i = 0; i < 3; i++)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img class="img-responsive" src="/template/img/dev1.png" alt="">
                        <div class="caption">
                            <h2 style="color: red;">Aerobic  <span style="color: black; margin-left: 40px; font-size: 15px;" >Participants: 5</span> </h2>
                            
                            <div style="position: absolute; left:60%">
                                <p>Day of Week</p>
                                <p>12:00 - 14:00</p>
                            </div>
                            
                            <div >
                                @for (int j = 0; j < 3; j++)
                            {
                                <p>Trainer.Name</p>
                            }
                            </div>

                            <a class="btn">Join</a>
                        </div>
                    </div>
                </div>
            }
           
        </div>
        
        <div style="margin-left: 45%;" >
            <a asp-action="Create" class="btn">Create</a>
        </div>
    </div>
</section>