@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .account {
        display:inline-block;
        position: absolute;
        right: 17%;
    }
    #Log {
        text-align: center;
        
    }

</style>

<div style="overflow:hidden">
    <div class="row" style="margin-bottom: 500px;">

        <section class="col-md-10">
            <form class="account col-md-5" method="post">
                <h1 id="Log">@ViewData["Title"]</h1>
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label style="font-size: 1.8rem;" asp-for="Input.UserName"></label>
                    <input id="emailInput" asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="font-size: 1.8rem;" asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1"><input asp-for="Input.RememberMe" />Remember me</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
